<div class="navbar-lewagon">
  <h2>Simple Airbnb</h2>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our flats</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>All <%= @flats.size %> flats </p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="flat-card">
        <% @flats.each do |flat| %>
        <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?w=1200')"></div>
        <div class="flat-card-content">
          <div class="flat-card-title">
            <h4> <%= flat.name  %> </h4>
          </div>
          <p> <%= flat.address %> </p>
          <div class="flex">
            <div class="flex">
              <i class="material-icons mr-2">people</i><span> <%= flat.number_of_guests %>  </span>
            </div>
            <div class="flex ml-3">
              <i class="material-icons mr-2">euro_symbol</i> <%= flat.price_per_night %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
